@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

@keyframes glow {
  0%,
  100% {
    text-shadow:
      0 0 5px #fff017,
      0 0 10px #ff9900,
      0 0 15px #ed333e;
  }
  50% {
    text-shadow:
      0 0 10px #fff017,
      0 0 20px #ff9900,
      0 0 30px #ed333e;
  }
}

.animate-glow-text {
  animation: glow 2.5s ease-in-out infinite;
}
